h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

:root {
    --primary-color: #212428;
    --secondary-color: #c4cfde;
    --color-subtitle: #f9004d;
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-color-2: linear-gradient(to right bottom, #212428, #16181c);
    --transition: 0.4s;
}

html {
    scroll-behavior: smooth;
    height: 100%
}

@media only screen and (max-width:768px) {
    h2 {
        font-size: 28px !important;
    }
}


/* .cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: var(--color-subtitle);
    border-radius: 80%;
    backface-visibility: hidden;
} */

.hire-me {
    width: 100%;
    background-size: cover
}

.stats {
    width: 100%;
    background-size: cover
}

#particles-js {
    height: 100%;
    background-color: transparent
}

.type-wrap {
    text-align: center;
    margin-top: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    z-index: 999999
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0) rotateY(0);
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}

.site-nav-icon i {
    color: #fff
}

.mob-menu ul {
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 108px;
    right: 0;
    z-index: 9
}

.mob-menu ul li:nth-child(odd) {
    background: #171616
}

.mob-menu ul li:nth-child(even) {
    background: #272727
}

.mob-menu ul li:last-child {
    border-bottom: none
}

.mob-menu ul li {
    border-bottom: 1px solid #aaa;
    list-style-type: none;
    padding: 20px 0;
    display: block;
    width: 100%
}

.mob-menu ul li a {
    color: #eee;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none
}

.site-nav-icon {
    display: none
}

.mob-dropmenu {
    display: none
}

.progress-container {
    width: 100%;
    height: 5px;
    background: #ccc;
    position: fixed;
    z-index: 99
}

.progress-bar {
    height: 5px;
    background: #000;
    width: 0%
}

.test-background {
    height: 100vh
}

.site-header {
    padding-top: 40px;
    background: url(../images/back3.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden
}

#home-svg {
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 3
}

#home-svg .p-curve {
    fill: var(--primary-color)
}

.site-header .head-link a {
    color: var(--secondary-color);
    font-size: 16px;
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-weight: 600;
}

.site-header .head-link a:first-child {
    margin-left: 0
}

.site-header .head-link a:hover {
    color: #fff
}

.site-background .name {
    position: absolute;
    top: -650px;
    left: 0;
    right: 0
}

.site-background .name h1 {
    font-size: 5em;
    font-weight: 900;
    color: #c4cfde;
    text-align: center
}

.site-background .name h6 {
    font-size: 1.4em;
    color: #eee;
    text-align: center;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
}

.site-background .name h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px
}

#typed {
    white-space: pre;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    color: #eee
}

section.about {
    padding: 10rem 0;
    background-color: var(--primary-color);
}

section.about .about-img {
    position: relative
}


/* 
section.about .about-img:before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: 0
} */

section.about .about-img img {
    position: relative;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14)
}

section.about .about-content .about-heading {
    margin-bottom: 20px
}

section.about .about-content .about-heading h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-family: Raleway, sans-serif;
}

section.about .about-content .about-heading span {
    font-family: Raleway, sans-serif;
    color: var(--color-subtitle);
    font-size: 20px;
    font-weight: 500;
    display: block;
}

section.about .about-content p {
    line-height: 28px;
    color: var(--secondary-color);
    font-size: 18px;
}

section.about .about-content p span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px
}

section.about .about-content .social-icons {
    margin-top: 50px
}

section.about .about-content .social-icons a {
    display: inline-flex;
    font-size: 20px;
    margin: 0 10px 10px 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: var(--transition);
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
}

section.about .about-content .social-icons a:hover {
    text-decoration: none;
    transform: translateY(-3px);
    background: var(--background-color-2);
}

section.about .about-content .social-icons a .fa {
    color: var(--secondary-color);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease
}

section.about .about-content .social-icons a .fab {
    color: var(--secondary-color);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease
}

section.about .about-content .social-icons a:hover .fa {
    color: #fff
}

section.about .about-content .social-icons .sbHead {
    display: block;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

section.about .main-btn {
    display: inline-block;
    background-color: #eee;
    padding: 10px 20px;
    border: 2px solid #eee;
    color: #222;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
    text-decoration: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    letter-spacing: 1px
}

section.about .main-btn:hover {
    color: #eee;
    border: 2px solid #222;
    background-color: #222
}

@media only screen and (max-width:767px) {
    section.about .about-content .about-heading {
        margin-top: 50px
    }
    section.about {
        padding: 10rem 0 6rem;
    }
}

section.my-expertises {
    padding: 5rem 0;
    background-color: var(--primary-color);
}

section.my-expertises h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-family: Raleway, sans-serif;
}

section.my-expertises h2::after {
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, .75), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 50%;
    content: "";
    bottom: 0;
    margin: 0 auto
}

section.my-expertises h6 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-subtitle);
    text-align: center;
    font-family: Raleway, sans-serif;
}

section.my-expertises h5 {
    margin-bottom: 5px;
    color: var(--secondary-color);
    letter-spacing: 0.2px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
}

section.my-expertises p {
    color: var(--secondary-color);
}

section.my-expertises .circle {
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: #000;
    max-height: 50px;
    z-index: 2
}

.my-expertises .how-it-works.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.my-expertises .how-it-works.row .col-2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.my-expertises .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #aaa;
    z-index: 1
}

.my-expertises .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%
}

.my-expertises .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px)
}

.my-expertises .how-it-works.row .col-2.left-full::after {
    height: 100%;
    left: calc(50% - 0px)
}

.my-expertises .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0
}

.my-expertises .timeline div {
    padding: 0;
    height: 40px
}

.my-expertises .timeline hr {
    border-top: 3px solid #aaa;
    margin: 0;
    top: 17px;
    position: relative
}

.my-expertises .timeline .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.my-expertises .timeline .corner {
    border: 3px solid #aaa;
    width: 100%;
    position: relative;
    border-radius: 15px
}

.my-expertises .timeline .top-right {
    left: 50%;
    top: -52%
}

.my-expertises .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px)
}

.my-expertises .timeline .top-left {
    left: -50%;
    top: -51%
}

.my-expertises .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px)
}

.my-expertises .hobbies {
    text-align: center;
}

.my-expertises .hbyWrp {
    display: inline-flex;
    margin: 0 10px 20px 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    transition: var(--transition);
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
    padding: 12px 25px;
}

.my-expertises .hobbies h5 {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 10px;
}

.my-expertises .hobbies img {
    width: 20px;
}

@media only screen and (max-width:768px) {
    section.my-expertises {
        padding: 1rem 0 5rem 0;
    }
    section.my-expertises h5 {
        font-size: 18px;
    }
    section.my-expertises p {
        font-size: 14px;
    }
    .my-expertises .hobbies h5 {
        font-size: 14px;
    }
    .my-expertises .hbyWrp {
        padding: 8px 18px;
    }
}

.stats {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    padding: 4rem 0
}

.stats .single-stat {
    text-align: center;
    z-index: 10;
    position: relative
}

.stats .single-stat h2 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.stats .single-stat p {
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 18px;
}

.stats .single-stat .stat-icon .fa {
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.hire-me {
    padding: 5em 0;
    text-align: center;
    background: var(--primary-color)
}

.hire-me h2 {
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 900
}

.hire-me p {
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: .5px;
    margin-top: 10px
}

.hire-me h2 span {
    color: var(--color-subtitle)
}

.hire-me .hire-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 10px 40px;
    border: 2px solid var(--secondary-color);
    color: #222;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
    text-decoration: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    letter-spacing: 1px
}

.hire-me .hire-btn:hover {
    color: #eee;
    border: 2px solid #222;
    background-color: #222
}

.tagline {
    background-color: var(--primary-color);
    padding: 10px 0
}

.tagline h6 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width:1199px) {
    .site-background .name {
        position: absolute;
        top: -400px
    }
    .site-background .name h2 {
        font-size: 60px;
        margin-bottom: 20px;
        text-shadow: 4px 0 4px #000
    }
    .site-background .name h6 {
        font-size: 20px;
        margin-bottom: 20px
    }
    .site-background .name h3 {
        font-size: 30px;
        margin-bottom: 20px
    }
}

@media only screen and (max-width:991px) {
    .site-background .name {
        position: absolute;
        top: -350px
    }
    .site-background .name h2 {
        font-size: 50px
    }
    .site-background .name h3 {
        font-size: 25px
    }
    .site-background .name i {
        font-size: 20px
    }
}

@media only screen and (max-width:767px) {
    .site-nav-icon {
        display: block;
        float: right;
        margin: 20px 0;
        cursor: pointer;
        font-size: 24px
    }
    .header-menu {
        display: none
    }
    .site-background .name {
        position: absolute;
        top: -250px
    }
    #typed,
    .typed-cursor {
        font-size: 20px !important
    }
    .tagline h6 {
        font-size: 14px
    }
    .hire-me h2 {
        line-height: 42px;
    }
    .stats .single-stat {
        margin-bottom: 50px;
    }
    .site-background .name h1 span {
        display: block;
        font-size: 5rem;
    }
    .site-background .name h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width:550px) {
    .site-background .name {
        position: absolute;
        top: -150px
    }
    .site-background .name h2 {
        font-size: 40px
    }
    .site-background .name h3 {
        font-size: 20px
    }
    .site-background .name i {
        font-size: 18px
    }
}


/*--*/

section.ab-steps {
    padding: 0 0 4rem;
    background-color: var(--primary-color);
}

.ab-steps h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-family: Raleway, sans-serif;
}

.ab-steps .list_inner {
    text-align: center;
}

.ab-steps .icon .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.ab-steps .icon .brush {
    max-width: 125px;
    position: relative;
}

.ab-steps .icon span {
    position: relative;
    display: inline-block;
}

.ab-steps .icon {
    margin-bottom: 30px;
}

.ab-steps ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
}

.ab-steps .title {
    margin-bottom: 20px;
}

.ab-steps .title h3 {
    font-size: 24px;
    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.ab-steps .text p {
    font-size: 18px;
    color: var(--secondary-color);
}

.ab-steps .skills-icons a {
    display: inline-flex;
    font-size: 20px;
    margin: 0 10px 10px 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: var(--transition);
    background: var(--background-color-1);
    box-shadow: var(--shadow-1);
}

.ab-steps .skills-icons {
    margin-top: 4rem;
    text-align: center;
}

.ab-steps .skills-icons img {
    width: 30px;
    height: 30px;
}

.ab-steps .skills-icons a:hover {
    text-decoration: none;
    transform: translateY(-3px);
    background: var(--background-color-2);
}

@media only screen and (max-width:768px) {
    .ab-steps .list_inner {
        margin-bottom: 50px;
    }
    .ab-steps .skills-icons {
        margin-top: 1rem;
    }
}

.my-photography .pictures {
    padding: 50px 0;
    background: var(--background-color-1);
}

.my-photography .pictures .masonry {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.my-photography .pictures .item {
    display: inline-block;
    padding: 0;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.my-photography .pictures .item img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow-1);
}

@media only screen and (max-width: 320px) {
    .my-photography .pictures .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .my-photography .pictures .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .my-photography .pictures .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1201px) {
    .my-photography .pictures .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}


/*----------------start navbar---------------------*/

.site-header-inner .start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 15px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.site-header-inner .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.site-header-inner .start-header.scroll-on .navbar-brand img {
    height: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.site-header-inner .navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: var(--primary-color);
}

.site-header-inner .navbar {
    padding: 0;
}

.site-header-inner .navbar-brand img {
    height: 40px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.site-header-inner .navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.site-header-inner .navbar-toggler:active,
.site-header-inner .navbar-toggler:focus {
    outline: none;
}

.site-header-inner .navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid var(--secondary-color);
    transition: all 300ms linear;
}

.site-header-inner .navbar-light .navbar-toggler-icon:after,
.site-header-inner .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.site-header-inner .navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.site-header-inner .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.site-header-inner .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.site-header-inner .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.site-header-inner .nav-link {
    color: var(--secondary-color) !important;
    font-weight: 600;
    transition: all 200ms linear;
    letter-spacing: 0.5px;
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.site-header-inner .nav-item:hover .nav-link {
    color: var(--secondary-color) !important;
}

.site-header-inner .nav-item.active .nav-link {
    color: var(--secondary-color) !important;
}

.site-header-inner .nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--secondary-color);
    opacity: 0;
    transition: all 200ms linear;
}

.site-header-inner .nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.site-header-inner .nav-item.active:hover:after {
    opacity: 0;
}

.site-header-inner .nav-item {
    position: relative;
    transition: all 200ms linear;
}

.site-header-inner .login-btn {
    background-color: var(--grey-color);
    border: 2px solid var(--grey-color);
    color: var(--white-color);
    padding: 6px 20px;
    letter-spacing: 1px;
    transition: 0.5s;
    border-radius: 5px;
    font-size: 1em;
    border-radius: 50px;
}

.site-header-inner .login-btn:hover {
    background-color: var(--white-color);
    border: 2px solid var(--grey-color);
    color: var(--grey-color);
    border-radius: 50px;
}

@media only screen and (max-width: 991px) {
    .site-header-inner .nav-item {
        font-size: 16px;
    }
    .site-header-inner .login-btn {
        font-size: 16px;
        padding: 5px 15px;
    }
}

@media (max-width: 767px) {
    .site-header-inner .nav-item:after {
        display: none;
    }
    .site-header-inner .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: var(--light-black-color);
        vertical-align: 0;
    }
    .site-header-inner .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: var(--light-black-color);
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .site-header-inner .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }
    .site-header-inner .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .site-header-inner .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    body.dark .nav-item::before {
        background-color: var(--off-white-color);
    }
    body.dark .dropdown-toggle::after {
        background-color: var(--off-white-color);
    }
    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
}


/*--end navbar--*/


/*start inner page banner*/

.sm-banner {
    background-image: url(../images/back3.jpg);
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 80px 0;
    margin-top: 80px;
    background-position: center;
}

.sm-banner::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #000, #212428);
    opacity: 70%;
}

.sm-banner h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-family: Raleway, sans-serif;
}

.sm-banner #particles-js {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/*end inner page banner*/