h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

:root {
    --primary-color: #212428;
    --secondary-color: #c4cfde;
    --color-subtitle: #f9004d;
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-color-2: linear-gradient(to right bottom, #212428, #16181c);
    --transition: 0.4s;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
::-webkit-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #212428 #ffffff;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

html {
    scroll-behavior: smooth;
    height: 100%
}

@media only screen and (max-width:768px) {
    h2 {
        font-size: 25px !important;
    }
}


.cursor {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: none;
    border: 2px solid #c9e0ff;
    border-radius: 80%;
    backface-visibility: hidden;
    /* filter: blur(20px); */
}

.hire-me {
    width: 100%;
    background-size: cover
}

.stats {
    width: 100%;
    background-size: cover
}

#particles-js {
    height: 100%;
    background-color: transparent
}

.type-wrap {
    text-align: center;
    margin-top: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    background-color: #000;
    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    z-index: 999999
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0) rotateY(0);
        -webkit-transform: perspective(120px) rotateX(0) rotateY(0)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
    }
}



.mobile-nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    z-index: 9;
}

.navMenuBar {
    display: none;
    color: #fff;
}

.mobile-nav .navbar-nav {
    margin-top: 50px;
}

.mobile-nav .navbar-nav .nav-item {
    margin-bottom: 10px;
}

.mobile-nav .navbar-nav .nav-item .nav-link {
    color: var(--secondary-color);
    padding-left: 20px;
}

.mobile-nav .close {
    color: var(--secondary-color);
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
}

.screen-overlay {
    transition: opacity 0.5s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
    height: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, 0.6);
    display: none;
}



.progress-container {
    width: 100%;
    height: 5px;
    background: #ccc;
    position: fixed;
    z-index: 99
}

.progress-bar {
    height: 5px;
    background: #000;
    width: 0%
}

.test-background {
    height: 100vh
}

.site-header {
    padding-top: 40px;
    background: url(../images/back3.jpg);
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden
}

#home-svg {
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 3
}

#home-svg .p-curve {
    fill: var(--primary-color)
}

.site-header .head-link a {
    color: var(--secondary-color);
    font-size: 16px;
    display: inline-block;
    margin-left: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-weight: 600;
}

.site-header .head-link {
    display: flex;
    align-items: center;
    justify-content: end;
}

.site-header .head-link a:first-child {
    margin-left: 0
}

.site-header .head-link a:hover {
    color: #fff
}

.site-background .name {
    position: absolute;
    top: -650px;
    left: 0;
    right: 0
}

.site-background .name h1 {
    font-size: 5em;
    font-weight: 700;
    color: #c4cfde;
    text-align: center
}

.site-background .name h6 {
    font-size: 1.4em;
    color: #eee;
    text-align: center;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
}

.site-background .name h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px
}

#typed {
    white-space: pre;
    font-size: 24px;
    font-family: Raleway, sans-serif;
    color: #eee
}

section.about {
    padding: 10rem 0;
    background-color: var(--primary-color);
}

section.about .about-img {
    position: relative
}


/* 
section.about .about-img:before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10%;
    left: -10%;
    z-index: 0
} */

section.about .about-img img {
    position: relative;
    width: 100%;
    z-index: 1;
    /* -webkit-box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 0 85px 0 rgba(0, 0, 0, .14) */
}

section.about .about-content .about-heading {
    margin-bottom: 20px
}

section.about .about-content .about-heading h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 5px;
    font-family: Raleway, sans-serif;
}

section.about .about-content .about-heading span {
    font-family: Raleway, sans-serif;
    color: var(--color-subtitle);
    font-size: 20px;
    font-weight: 500;
    display: block;
}

section.about .about-content p {
    line-height: 28px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 1.8;
}

section.about .about-content p span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px
}








section.social-icons {
    margin-top: 50px
}

section.social-icons a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    margin: 0 10px 10px 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--background-color-1);
    color: var(--secondary-color);
    -webkit-box-shadow: var(--shadow-1);
    box-shadow: var(--shadow-1);
}

section.social-icons a:hover {
    text-decoration: none;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    background: var(--background-color-2);
}

section.social-icons a .fa {
    color: var(--secondary-color);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease
}

section.social-icons a .fab {
    color: var(--secondary-color);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease
}

section.social-icons a:hover .fa {
    color: #fff
}

section.social-icons .sbHead {
    display: block;
    color: var(--color-subtitle);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}


@media only screen and (max-width:767px) {
    section.about .about-content .about-heading {
        margin-top: 50px
    }

    section.about {
        padding: 10rem 0 6rem;
    }

    section.about .about-content .about-heading span {
        font-size: 18px;
    }
}

section.my-expertises {
    padding: 5rem 0;
    background-color: var(--primary-color);
}

section.my-expertises h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    font-family: Raleway, sans-serif;
}


/* section.my-expertises h2::after {
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, .75), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 50%;
    content: "";
    bottom: 0;
    margin: 0 auto
} */

section.my-expertises h6 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-subtitle);
    text-align: center;
    font-family: Raleway, sans-serif;
}

section.my-expertises h5 {
    margin-bottom: 5px;
    color: var(--secondary-color);
    letter-spacing: 0.2px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 22px;
}

section.my-expertises p {
    color: var(--secondary-color);
}

section.my-expertises .circle {
    z-index: 9;
}

section.my-expertises .circle img {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-expertises .how-it-works.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.my-expertises .how-it-works.row .col-2 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.my-expertises .how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #aaa;
    z-index: 1
}

.my-expertises .how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%
}

.my-expertises .how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 2px)
}

.my-expertises .how-it-works.row .col-2.left-full::after {
    height: 100%;
    left: calc(50% - 0px)
}

.my-expertises .how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
    left: calc(50% - 2px);
}

.my-expertises .timeline div {
    padding: 0;
    height: 40px
}

.my-expertises .timeline hr {
    border-top: 3px solid #aaa;
    margin: 0;
    top: 17px;
    position: relative
}

.my-expertises .timeline .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.my-expertises .timeline .corner {
    border: 3px solid #aaa;
    width: 100%;
    position: relative;
    border-radius: 15px
}

.my-expertises .timeline .top-right {
    left: 50%;
    top: -52%
}

.my-expertises .timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px)
}

.my-expertises .timeline .top-left {
    left: -50%;
    top: -51%
}

.my-expertises .timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px)
}

.my-expertises .hobbies {
    text-align: center;
}

.my-expertises .hbyWrp {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 12px;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    text-decoration: none;
    border-radius: 40px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-box-shadow: var(--shadow-1);
    box-shadow: var(--shadow-1);
    cursor: pointer;
    z-index: 9;
    position: relative;
}

.my-expertises .hbySt1 {
    background-image: linear-gradient(180deg, rgba(255, 230, 0, .6), rgba(31, 30, 28, .6) 67.59%);
}


.my-expertises .hbySt1:hover {
    background-image: linear-gradient(170deg, rgba(255, 230, 0, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt2 {
    background: linear-gradient(180deg, rgba(0, 169, 255, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt2:hover {
    background: linear-gradient(170deg, rgba(0, 169, 255, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt3 {
    background: linear-gradient(180deg, rgba(89, 195, 120, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt3:hover {
    background: linear-gradient(170deg, rgba(89, 195, 120, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt4 {
    background: linear-gradient(180deg, rgba(221, 88, 79, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt4:hover {
    background: linear-gradient(170deg, rgba(221, 88, 79, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt5 {
    background: linear-gradient(180deg, rgba(158, 0, 255, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbySt5:hover {
    background: linear-gradient(170deg, rgba(158, 0, 255, .6), rgba(31, 30, 28, .6) 67.59%);
}

.my-expertises .hbInr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--background-color-1);
    padding: 12px 25px;
    margin: 2px;
    /* margin: 0 10px 20px 0; */
    border-radius: 40px;
}

.my-expertises .hobbies h5 {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 22px;
}

.my-expertises .hobbies img {
    width: 20px;
}

@media only screen and (max-width:768px) {
    section.my-expertises {
        padding: 1rem 0 5rem 0;
    }

    section.my-expertises h5 {
        font-size: 18px;
    }

    section.my-expertises p {
        font-size: 14px;
    }

    .my-expertises .hobbies h5 {
        font-size: 14px;
    }

}

.stats {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    padding: 4rem 0
}

.stats .single-stat {
    text-align: center;
    z-index: 10;
    position: relative
}

.stats .single-stat h2 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.stats .single-stat p {
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-size: 18px;
}

.stats .single-stat .stat-icon i {
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.hire-me {
    padding: 5em 0;
    text-align: center;
    position: relative;
}

.hire-me::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/shape.png) no-repeat center center;
    background-size: cover;
    z-index: 0;
    opacity: 0.2
}

.hire-me h2 {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hire-me p {
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: .5px;
    margin-top: 10px
}

.hire-me h2 span {
    color: var(--color-subtitle)
}


.tagline {
    background-color: var(--primary-color);
    padding: 10px 0 15px;
}

.tagline h6 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width:1200px) {
    .site-background .name {
        position: absolute;
        top: -400px
    }

    .site-background .name h2 {
        font-size: 60px;
        margin-bottom: 20px;
        text-shadow: 4px 0 4px #000
    }

    .site-background .name h6 {
        font-size: 20px;
        margin-bottom: 20px
    }

    .site-background .name h3 {
        font-size: 30px;
        margin-bottom: 20px
    }
}

@media only screen and (max-width:992px) {
    .site-background .name {
        position: absolute;
        top: -350px
    }

    .site-background .name h2 {
        font-size: 50px
    }

    .site-background .name h3 {
        font-size: 25px
    }

    .site-background .name i {
        font-size: 20px
    }

    .navMenuBar {
        display: block;
    }

    .header-menu {
        display: none
    }
}

@media only screen and (max-width:768px) {
    .site-background .name {
        position: absolute;
        top: -250px
    }

    #typed,
    .typed-cursor {
        font-size: 20px !important
    }

    .tagline h6 {
        font-size: 14px
    }

    .hire-me h2 {
        line-height: 35px;
        margin-bottom: 30px;
    }

    .stats .single-stat {
        margin-bottom: 50px;
    }

    .site-background .name h1 span {
        display: block;
        font-size: 5rem;
    }

    .site-background .name h1 {
        font-size: 3.5rem;
    }

    .hire-me p {
        font-size: 16px;
    }
}

@media only screen and (max-width:550px) {
    .site-background .name {
        position: absolute;
        top: -150px
    }

    .site-background .name h2 {
        font-size: 40px
    }

    .site-background .name h3 {
        font-size: 20px
    }

    .site-background .name i {
        font-size: 18px
    }
}


/*--*/
section.ab-steps {
    padding: 0 0 4rem;
    background-color: var(--primary-color);
}

.ab-steps h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    font-family: Raleway, sans-serif;
    margin-bottom: 5px;
}

.ab-steps .heading span {
    font-family: Raleway, sans-serif;
    color: var(--color-subtitle);
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 50px;
    text-align: center;
}

.ab-steps .list_inner {
    text-align: center;
}

.ab-steps .icon .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
}

.ab-steps .icon .brush {
    max-width: 125px;
    position: relative;
}

.ab-steps .icon span {
    position: relative;
    display: inline-block;
}

.ab-steps .icon {
    margin-bottom: 30px;
}

.ab-steps ul li .list_inner {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
}

.ab-steps .title {
    margin-bottom: 20px;
}

.ab-steps .title h3 {
    font-size: 24px;
    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

.ab-steps .text p {
    font-size: 18px;
    color: var(--secondary-color);
}

.ab-steps .skills-icons a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    margin: 0 10px 10px 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    background: var(--background-color-1);
    -webkit-box-shadow: var(--shadow-1);
    box-shadow: var(--shadow-1);
}

.ab-steps .skills-icons {
    margin-top: 4rem;
    text-align: center;
}

.ab-steps .skills-icons img {
    width: 30px;
    height: 30px;
}

.ab-steps .skills-icons a:hover {
    text-decoration: none;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    background: var(--background-color-2);
}

@media only screen and (max-width:768px) {
    .ab-steps .list_inner {
        margin-bottom: 50px;
    }

    .ab-steps .skills-icons {
        margin-top: 1rem;
    }

    .ab-steps .heading span {
        font-size: 18px;
    }
}