h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}


/*start site header */
.site-header {
    padding: 30px 0;
    background: #000033;
}

.site-header h1 {
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
}

.site-header h4 {
    color: #fff;
    font-family: 'Berkshire Swash', cursive;
    display: inline-block;
}

.site-header a {
    color: #fff;
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
}
/* end site header */



/* start site background */
.site-background  {
    background: url(../images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1000px;
}
.name {
    position: absolute;
    top: 250px;
}

.name h2 {
    font-size: 80px;
    color: #fff;
    font-family: 'Risque', cursive;
}

.name h3 {
    color: #fff;
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
}
/* end site background */



/* start projects*/
.Projects {
    padding: 50px 0;
}

.Projects h3 {
    font-size: 70px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 50px;
}

.Projects ul {
    list-style-type: none;
}

.Projects a {
    text-decoration:none;
    font-size: 30px;
    color: #000033;
}

.Projects a:hover {
    text-decoration:none;
    font-size: 50px;
    color: #000033;
}
/* end projects */